@media (min-width: 425px) {
    main {
        margin: 0rem 4rem;
    }

    h2 {
        font-size: 2.9rem;
    }

    p {
        font-size: 1.7rem;
    }
    /* Menu */
    .menu__enlaces {
       
        font-size: 1.9rem;
        
    }

    .menu__p {
        font-size: 1.5rem;
    }

    /*Introduce */

    .introduce__h1 {
        font-size: 1.9rem;
    }

    .introduce__h2 {
        font-size: 4rem;
    }

    .introduce__h3 {
        font-size: 3.6rem;
    }

    .introduce__btn {
        font-size: 1.9rem;
    }

    /*Aboutme */

    .aboutme__experience {
        max-width: 51rem;
        margin: auto auto;
    }

    .aboutme__img {
        width: 25rem;
        height: 25rem;
   
    }


.experience__tittles>h3 {
    font-size: 1.7rem;
}

.skills__h3 {
    font-size: 1.5rem;

}

.skills__p {
    font-size: 1.3rem;

}

.skills__icon {
    font-size: 3rem;
}

.study__h3 {
    font-size: 1.5rem;
 
}

.study__items p {
    font-size: 1.3rem;
}

.jobs__p {
 
    font-size: 1.5rem;
}

.jobs__btn {
   
    font-size: 1.9rem;
 
}
    /*Projects*/

    .card {
       
        max-width: 35rem;
    }
   

    .card-figcaption__status {
    
        font-size: 1.3rem;
       
    }
    
    .card-figcaption__tittle {
        font-size: 1.7rem;

    }
    
    .card-figcaption__desc {
        font-size: 1.5rem;
    }
    
    .card-figcaption__tec {
        font-size: 1.3rem;
     
    }

    .card-figcaption-nav__a {
        color: var(--white);
        font-size: 2.8rem;
        max-width: 3.5rem;
    }

    .projects__btn {
        font-size: 1.9rem;
    }

    /* Article projects */
    .projects__articles>a {
   
        font-size: 1.9rem;
      
    }
  
    .article h4 {
        font-size: 1.7rem;

    }
    
    .article p {
        font-size: 1.5rem;
        
    
    }
    
    .article p:nth-child(4) {
        font-size: 1.3rem;
     
    }

    .article__icon--folder {
        color: var(--secondary);
        margin: 0rem;
    }
    
    /* Contact more */
    .more__h3 {
        font-size: 1.9rem;
        color: var(--secondary);
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .more__p {
        font-size: 1.7rem;
    }

    .more__btn {
        font-size: 1.9rem;
    }

    /*footer */

    .footer>p {
 
     font-size: 1.5rem;

    }
}

@media (min-width: 500px) { 
    .skills__ul {
        column-count: 3;
    }
    
}

@media (min-width: 768px) {
    nav.menu__nav{
        display: block;
       
    }

    main {
        margin: auto 15rem;
    }

    /*Header*/

    .header {
        padding: 1vw 2rem;
    }

    .header__img {
        width: 10rem;
    }

    .button {
        display: none;
    }

    /* Menu */

    .menu {
        position: static;
        visibility: visible;
        height: auto;
        width: auto;
        background-color: transparent;
        transform: translateX(0);
    }

    .menu__enlaces {
        display: inline-block;
        margin: auto 1.5rem;
        color: var(--primary);
        font-size: 1.9rem;
        font-weight: 400;      
    }

   

    .menu__enlaces:hover {
        text-decoration: underline var(--terciary);
        text-underline-offset: 4px;
        color: var(--terciary);
    }

    .menu__p {
        display: none;
    }

    .menu__enlaces--cv {
        padding: 1rem;
        margin: auto 0rem auto 1.5rem;
        color: var(--white);
        background-color: var(--primary);
        border-radius: 1rem;
        border: none;
    }

    .menu__enlaces--cv:hover {
        text-decoration: none;
        background-color: var(--terciary);
        color: var(--white);
    }


    /*Introduce and socials */

    .introduce {
        padding: 0rem;
    }

    .introduce__h1 {
        font-size: 1.9rem;
    }

    .introduce__h2 {
        font-size: 4.5rem;
    }

    .introduce__h3 {
        font-size: 4rem;
    }

    .desc__p {
        font-size: 1.7rem;

    }

    .introduce__btn {
        font-size: 2rem;
    }

    /* socials */

    .social {
        display: block;
        position: fixed;
        left: 35px;
        bottom: 0px;
    
    
    }

    .social__icon {
       
        font-size: 3.5rem;
        margin-bottom: 1rem;
        display: block;
        color: var(--secondary);

    }

    .social::after {
        display: block;
        position: relative;
        content: " ";
        width: 2px;
        min-height: 15rem;
        background-color: var(--primary);
        margin: 2rem auto 0rem;
    }

    .social__contact {
        display: block;
        position: fixed;
        right:  50px;
        bottom: 0px;
    }

    .social__contact p {
        display: block;
        writing-mode: vertical-rl;
        font-style: normal;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        line-height: 0rem;
    }

    .social__contact::after {
        display: block;
        position: relative;
        content: "";
        background-color: var(--primary);
        width: 2px;
        min-height: 15rem;
        margin-top: 2rem;
        margin: auto auto;
        
    }

    /*Introduce */

    

    /*Aboutme */

    .aboutme__img {
        width: 30rem;
        height: 30rem;
   
    }

    /*Proyectos*/

    .card{
        height: 30rem;
        max-width: 50rem;
    }

    /*Footer */


    .footer__social {
        display: none;
        align-items: center;
    }

    .footer__contact {
        display: none;
    }
}




@media (min-width: 1024px) {


    main {
        margin: 0rem auto;
        padding: 0rem 15rem;
        max-width: 1600px;
        width: 100%;
    }

    .introduce {
        margin: 0px auto 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: fit-content;
    } 

    .introduce__h1 {
        font-size: 2rem;
    }
    
    .introduce__h2 {
        font-size: 7rem;

    }
    
    .introduce__h3 {
        font-size: 6rem;
    }
    
    .desc {
        max-width: 45rem;
    }
    
    .desc__p {

        font-size: 1.8rem;
    }
    
    .introduce__btn {
        font-size: 2.2rem;
    }
    
    /*About me */

    .aboutme {
        margin: 0rem 5rem;
        padding-bottom: 0;
        max-width: 1200rem;
    }
    .aboutme > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }


    .aboutme__desc {
        grid-column: 1/2;
        grid-row: 1/2;
      
    }

    .aboutme__img {
        margin: 2rem auto auto auto;
        width: clamp(20rem,20vw ,27rem);
        height: clamp(20rem,20vw ,27rem);;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .aboutme__img > img {
        width: 100%;
        height: 100%;
    }

    .aboutme__experience {
        grid-column: 1/3;
        grid-row: 2/4;
        width: 51rem;
        margin: 4rem auto auto 0rem;
    }

    /*Projects*/

    .projects {
      padding-top: 0;
    }
    
    .card {   
        margin: 10rem auto 10rem 0rem;
        max-width: none;
        min-height: 25rem;
       width: 100%;
       height: 100%;
        border: none;
        box-shadow: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);

      
    }

    .card:nth-child(2n) {
        margin: 10rem 0rem 10rem auto;
    }


    .card__img {
        width: 95%;
        margin-right: 5%;
        height: 100%;
        max-height: 40rem;
        border-radius: .5rem;
        grid-column: 1/4;
        grid-row: 1/4;
        max-width: none;
        pointer-events:none;
    }

  
    .card-figcaption {
   
     
        visibility: visible;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 4/6;
        z-index: 2;

    }
    .card-figcaption__introduce {
      
        justify-content: space-between;
        padding: 0rem;
    }

 

    .card-figcaption__introduce div {

        
        align-self: end;
        width: fit-content;
        margin: 0rem;

    }

    .card-figcaption__desc {
     align-self: flex-end;
    width: 90%;
    max-width: 100%;
    max-height: 15rem;
        background-color: var(--primary);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
        margin: 0rem;
        
        flex-basis: calc(100% - 65%);
    }


    .card-figcaption__status {
        font-size: 1.4rem;
        align-self: flex-end;
        color: var(--secondary);
        width: fit-content;
    }

    .card-figcaption__tittle {
        width: 100%;
        font-size: 3rem;
        align-self: end;
        margin: 0rem;
        color: var(--primary);
        
        width: fit-content;
    }

    .card:nth-child(odd) .card-figcaption__tittle {
        margin: auto 0 auto auto;
        text-align: end;
    }

    .card:nth-child(odd) .card-figcaption__status {
        margin: auto 0 auto auto;
    }

  

    .card-figcaption-nav {
        position: relative;
        top: -8%;
        padding: 0rem;
    
    }

    .card-figcaption-nav__a {
        color: var(--primary);
        font-size: 3.2rem;
    }

 
    /*card 2 invertida  utilizar nth-child(2n)*/
    .card:nth-child(2n) .card__img {
        grid-column: 3/6;
        width: 95%;
        margin-left: 5%;
    }

    .card:nth-child(2n) .card-figcaption__introduce div {
        align-self: start;
    }

    .card:nth-child(2n) .card-figcaption {
        grid-column: 1/3;
        z-index: 2;

    }

    .card:nth-child(2n) .card-figcaption__desc {
        align-self: start;
       
    }

    .card:nth-child(2n) .card-figcaption__tec {
        
        align-self: start;

    }

    .card:nth-child(2n) .card-figcaption-nav {
        position: relative;
        align-self: flex-end;

     

    }

    /*Projects article*/

 
    .articles {
        display: flex;
        gap: 2rem 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .article {
      
        max-width: 30rem;
        margin: 0rem;
        

    }

    .projects__btn {
        margin: 4rem auto;
    }
}

