:root {
    --primary: #4b5780;
    --secondary: #777777;
    --terciary: #f3c633;
    --white: #ffffff;
    --black: #000000;
}

/* Global rules */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px 1px var(--secondary);
    border-bottom: 2px solid var(--primary);
}

.header__img {
    width: 5.5rem;
}

/* Header button */

.header__button {
    display: flex;
    width: 5.5rem;
    height: 5.5rem;
    border: none;
    background-color: transparent;
    z-index: 1 ;
    padding: 0rem;
    justify-content: end;
    align-items: center;
}


.header__button:hover{
    cursor: pointer;
}


.header__buttonicon {
    width: 10%;
    height: 2.5px;
    background-color: var(--primary);
    position: absolute;
    transition: background-color 0.5s linear;
    
}

.header__buttonicon::before {
    display: block;
    content: "";
    width: 120%;
    position: absolute;
    left: -5px;
    top: -10px;
    height: 2.5px;
}

.primario .header__buttonicon::before {
    background-color: var(--primary);
    transition: background-color 0.5s linear;
}

.blanco .header__buttonicon::before {
    background-color: var(--white);
    transition: background-color 0.5s linear;
}

.header__buttonicon::after {
    display: block;
    content: "";
    width: 80%;
    height: 2.5px;
    position: absolute;
    left: 6px;
    bottom: -10px;
}

.primario .header__buttonicon::after {
    background-color: var(--primary);
    transition: background-color 0.25s linear;
}

.blanco .header__buttonicon::after {
    background-color: var(--white);
    transition: background-color 0.25s linear;
}


/* menu drop */

.menu {
    display: flex;
    background-color: var(--primary);
    width: 75%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    visibility: visible;
    transform: translateX(75vw);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.menu.active{
    transform: translateX(0vw);
}

.menu__enlaces {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 8rem;
    color: var(--white);
    text-decoration: none;
}

.menu__enlaces--contact {
    padding-bottom: 0rem;
    margin: 0rem;
}

.menu__enlaces--cv {
    border: 1px solid var(--secondary);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0rem;
}

.menu__p {
    font-size: 1.8rem;
    color: var(--terciary);
}

.menu__p--contact {
    text-align: end;
    margin: -1rem 1.5rem 10rem;
}

.menu__nav p:nth-child(3) {
    margin-left: 1.5rem;
}

