:root {
    --primary: #333333;
    --secondary: #008080;
    --terciary: #868686;
    --white: #ffffff;
    --black: #000000;
    --font: 'Merriweather', serif;
    --brbtn: .5rem;
    --pxybtn: 1rem 2rem;
}

/* Global rules */

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--font);
}

body {
    background-color: var(--white);
    overflow-x: hidden;
    width: 100%;
    overflow: hidden;
}

main {
    margin: 0rem 2rem;
    min-height: 100vh;
}

section {
    padding: 10rem 1rem;
}

section:nth-child(1) {
    padding: 0rem;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    color: var(--terciary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

h2 {
    margin-bottom: 4rem;
    color: var(--primary);
    font-size: 2.6rem;
}



/* Header */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    transform: translateY(0rem);
    transition: all .5s ease-in;
}

.header.scrollbottom {
   transform: translateY(-8rem);
}

.header.scrolltop {
    background-color: rgba(255, 255, 255, 0.85) ;
    backdrop-filter: blur(10px);
    padding: .5rem 2rem;
}



.header__img {
    background-color: transparent;
    width: 20%;
    max-width: 8rem;
}

/* Header button */

.button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0rem;
    width: 6rem;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.button:hover {
    cursor: pointer;
}

.button__icon {
    position: relative;
    width: 60%;
    height: 3px;
    background-color: var(--primary);
    transition: background-color 0.5s linear;
}

.button__icon::before {
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    content: "";
    width: 120%;
    height: 3px;
}

.off .button__icon::before {
    background-color: var(--primary);
    transition: background-color 0.5s linear;
}

.on .button__icon::before {
    background-color: var(--white);
    transition: background-color 0.5s linear;
}

.button__icon::after {
    display: block;
    position: relative;
    left: 7px;
    bottom: -7px;
    content: "";
    width: 80%;
    height: 3px;

}

.off .button__icon::after {
    background-color: var(--primary);
    transition: background-color 0.25s linear;
}

.on .button__icon::after {
    background-color: var(--white);
    transition: background-color 0.25s linear;
}


/* menu drop */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 75%;
    height: 100vh;
    margin: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: translateX(75vw);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1;
}

.menu.active {
    visibility: visible;
    transform: translateX(0vw);
}

.menu__enlaces {
    display: block;
    margin-bottom: 8rem;
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
}

.menu__enlaces--contact {
    padding-bottom: 0rem;
    margin: 0rem;
    font-size: 1.8rem;
}

.menu__enlaces--about {
    padding-bottom: 0rem;
    margin: 0rem;
    font-size: 1.8rem;
}

.menu__enlaces--cv {
    padding: 1.5rem;
    margin: 0rem;
    border-radius: 1rem;
    border: 1px solid var(--secondary);
}

.menu__p {
    margin-left: -1rem;
    color: var(--terciary);
    font-size: 1.4rem;
}

.menu__p--about {
    margin: -0.5rem 0.5rem 6rem;
    text-align: end;

}

.menu__p--contact {
    margin: -0.5rem 0.5rem 10rem;
    text-align: end;

}

.menu__nav p:nth-child(3) {
    margin-left: .5rem;
}

/* Introduce */

.introduce {
    display: flex;
    justify-content: start;
    height: 100vh;
    min-height: 100vh;
    align-items: center;
}

.introduce__h1 {
    margin: auto auto auto 0;
    margin-bottom: .5rem;
    color: var(--terciary);
    font-size: 1.8rem;
}

.introduce__h2 {
    margin-bottom: .5rem;
    color: var(--primary);
    font-size: 3.4rem;
    border-bottom: 1px solid var(--primary);


}

.introduce__h3 {
    margin-bottom: 3rem;
    color: var(--secondary);
    font-size: 3rem;
    line-height: 1;
}

.desc {
    display: flex;
    margin-bottom: 4rem;
    border-left: 1px solid var(--primary);
    max-width: 45rem;
}

.desc__p {
    padding-left: 2.5rem;
    color: var(--terciary);
    font-size: 1.6rem;
    font-weight: normal;

}

.introduce__btn {
    display: block;
    padding: var(--pxybtn);
    margin: auto 0 auto auto;
    width: fit-content;
    color: var(--white);
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 1rem;
    background-color: var(--primary);
}

.social {
    display: none;
}

/* About me */

.aboutme__h2 {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.aboutme__h2::after {
    position: relative;
    content: " ";
    margin: 0rem 1rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--terciary);
    z-index: -1;
}

.aboutme__p {
    margin-bottom: 2rem;
    color: var(--terciary);
}

.aboutme__p>span {
    color: var(--secondary);
    font-weight: bolder;
}

.aboutme__img {
    z-index: -2;
    border: 2px solid var(--primary);
    width: 20rem;
    border-radius: .5rem;
    height: 20rem;
    margin: 7rem auto 6rem auto;
    max-width: 30rem;
}

.aboutme__img img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    right: 20px;
    bottom: 20px;
}

/* Experience Estudio Skills */

/* Experience */

.experience__tittles {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.experience__tittles>h3 {
    text-align: center;
    flex: 0 0 calc(30%);
    font-size: 1.6rem;
    background-color: var(--white);

}

.btn-exp-active {
    border-bottom: 3px solid var(--secondary);
}


.experience__tittles>h3:hover {
    cursor: pointer;
}



.skills {
    margin-top: 2rem;
    display: fleX;
    justify-content: start;
    gap: .5rem;
}

.skills__tittles {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.skills__h3 {
    font-size: 1.4rem;
    padding: 1rem .5rem;
    border-left: 1px solid var(--terciary);
}

.skills__h3:hover {
    cursor: pointer;
}

.skills__h3.skillsactivado {
    border-left: 2px solid var(--secondary);
}

.skills__div {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 1rem 0rem;
    width: 100%;
}

.skills__p {
    font-size: 1.2rem;
    margin-left: .5rem;
}

.skills__ul {
    column-count: 2;
    padding: 0rem;
    margin: 0rem;
}

.skills__ul.listbackend {
    column-gap: 5rem;
}

.skills__ul>li {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 1rem;
}

.study {
    margin-top: 2rem;
    display: fleX;
    justify-content: start;
    gap: .5rem;
}

.skills__icon {
    font-size: 5vw;
    max-width: 3.5rem;
    color: var(--secondary);
}

.study__tittles {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.study__h3 {
    font-size: 1.4rem;
    padding: 1rem;
    border-left: 1px solid var(--terciary);
    white-space: nowrap;
}

.study__h3.skillsactivado {
    border-left: 2px solid var(--secondary);
}

.study__h3:hover {
    cursor: pointer;
}

.study__items {
    display: flex;
    justify-content: center;
}

.study__items ul {
    margin: 0rem;
    padding: 1rem;

}

.study__items li {
    list-style: none;
}

.study__items p {
    font-size: 1.2rem;
    width: fit-content;
}

.study__items li {
    display: flex;
    align-items: center;
}

.study__items li::before {
    display: inline-block;
    content: " ";
    width: 0px;
    height: 0px;
    border-left: 6px solid var(--secondary);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    margin-right: .7rem;
}

.jobs__div {
    margin: 4rem auto 0rem;
    text-align: center;
}

.jobs__p {
    color: var(--secondary);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.jobs__img {
    width: 25rem;
}


.jobs__btn {
    display: block;
    text-decoration: none;
    padding: var(--pxybtn);
    border-radius: var(--brbtn);
    border: 1px solid var(--secondary);
    font-size: 1.8rem;
    color: var(--secondary);
    width: fit-content;
    margin: 4rem auto;
}


/* Projects */

.projects__card {
    margin-bottom: 4rem;
}

.projects__h2 {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    white-space: nowrap;
}

.projects__h2::after {
    position: relative;
    content: " ";
    margin: 0rem 0rem 0rem 1rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--terciary);
    z-index: -1;
}

.card {
    margin: auto auto;
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 4px;
    transform: translateY(0);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 0;
    border-radius: .5rem;
}

.card.active1 {
    transform: translateY(-1rem);
}

.card__img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card-figcaption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    width: 100%;
    height: 100%;
    transition: background-color .5s ease;
    visibility: hidden;
    border-radius: .5rem;
}

.card-figcaption.active {
    background-color: rgba(33, 33, 33, 0.85);
    visibility: visible;
}


.card-figcaption__introduce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;

}

.card-figcaption__introduce div {

    position: relative;
    top: 0;
    left: 0;
}

.card-figcaption__status {
    position: relative;
    font-size: 1.2rem;
    color: var(--secondary);
    font-style: normal;
    font-weight: bold;
}

.card-figcaption__tittle {
    font-size: 1.6rem;
    margin: .5rem 0rem 2rem;
}

.card-figcaption__desc {
    font-size: 1.4rem;
    color: var(--white);
    font-style: normal;
    width: 80%;
    flex-basis: calc(100% - 25%);
}

.card-figcaption__tec {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--terciary);
    font-style: normal;
    align-self: end;
}

.card-figcaption-nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem 2rem;
    gap: clamp(1rem, 3vw, 1.5rem);
}

.card-figcaption-nav__a {
    color: var(--white);
    font-size: 2.5rem;
    max-width: 3.5rem;
}

/* Article */

.projects__articles h3 {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.projects__articles>a {
    display: block;
    margin: auto auto;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 4rem;
}

.article {
    background-color: var(--primary);
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 3rem;
    border-radius: .5rem;
    transform: translateY(0px);
    transition: all .2s ease-in;
    max-width: 45rem;
}

.article:hover {
    transform: translateY(-15px);
}

.article h4 {
    font-size: 1.6rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}

.article p {
    font-size: 1.4rem;
    font-style: normal;
    color: var(--white);
    margin-bottom: 2rem;

}

.article p:nth-child(4) {
    font-size: 1.2rem;
    color: #cecece;
    margin: 4rem auto 1rem;
}


.article__nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}

.article__nav div {
    display: flex;
}

.article__icon {
    font-size: 2.5rem;
    margin-left: 2rem;
}

.article__icon--folder {
    color: var(--secondary);
    margin: 0rem;
}

.projects__btn {
    display: block;
    text-decoration: none;
    padding: var(--pxybtn);
    border-radius: var(--brbtn);
    background-color: var(--primary);
    font-size: 1.8rem;
    color: var(--white);
    width: fit-content;
    margin: 0rem auto;
    border: none;
}

.projects__btn:hover {
    cursor: pointer;
}

/* Contact */

.more {
    max-width: 60rem;
    margin: auto auto;
}

.more__h2 {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    white-space: nowrap;
}

.more__h2::before {
    position: relative;
    content: " ";
    margin: 0rem 1rem 0rem 0rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--terciary);
    z-index: -1;
}

.more__h2::after {
    position: relative;
    content: " ";
    margin: 0rem 0rem 0rem 1rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--terciary);
    z-index: -1;
}

.more__h3 {
    font-size: 1.8rem;
    color: var(--secondary);
    margin-bottom: 1rem;
    text-align: center;
}

.more__p {
    font-size: 1.6rem;
    color: var(--primary);
    margin: auto auto;
    text-align: center;
    max-width: 40rem;
}

.more__btn {
    display: block;
    text-decoration: none;
    padding: var(--pxybtn);
    border-radius: var(--brbtn);
    border: 1px solid var(--secondary);
    font-size: 1.8rem;
    color: var(--secondary);
    width: fit-content;
    margin: 4rem auto;
}

/* Footer */

.footer {
    margin-top: 6rem;
    padding: 1.5rem 1rem;
    background-color: var(--white);
}

.footer__contact {
    display: flex;
    align-items: center;
}

.footer__contact p {
    padding: 0rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: var(--primary);
}

.footer__contact::before {
    background-color: var(--terciary);
    width: 20%;
    height: 1.5px;
    content: "";
    position: relative;
    z-index: 0;
}

.footer__social {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}

.footer__icon {
    font-size: 4rem;
    color: var(--secondary);
    padding: .5rem;
}

.footer__social::after {
    background-color: var(--terciary);
    width: 20%;
    height: 1.5px;
    content: "";
    position: relative;
    z-index: 0;
}

.footer>p {
    text-align: center;
    font-size: 1.6rem;
    color: var(--primary);
    font-style: normal;
    margin-top: 1rem;
}

.footer__code {
    margin-top: 1rem;
    text-align: center;
}

.footer__codeicon {
    color: var(--primary);
    font-size: 5vw;
    max-width: 1.7rem;
    margin-left: 1rem;
}