:root {
    --primary: rgb(17, 24, 39);
    --secondary: rgb(35, 52, 70);
    --terciary1: rgb(239, 68, 68);
    --terciary2: rgb(253, 186, 116);
    --terciary3: rgb(16, 185, 129);
    --blanco: #fff;
    --negro: #000;
    --font-primary: "Rubik",sans-serif;
}

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap);

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    overflow-x: hidden;
}

/* Header */

h1,
p,
h2,
h3 {
    font-family: var(--font-primary);
    margin: 0rem;
}

h2 {
    font-size: 2.7rem;
    color: var(--terciary3);
}

p {
    font-size: 1.9rem;
    color: var(--blanco);
}


header {
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    display: flex;
    color: var(--blanco);
    align-items: center;
    justify-content: space-between;
    font-size: 2.3rem;
    border-bottom: 1px var(--terciary3) solid;
}


.logo {
    margin: 0rem;
    width: 10rem;
}

.headerButtons {
    display: flex;
    gap: 1rem;
}

.headerButtons__Buttons {
    border: none;
    background-color: var(--primary);
    color: var(--blanco);

}

.headerButtons__Buttons--theme {
    display: flex;
    background-color: var(--secondary);
    border-radius: 10rem;
    width: 6rem;
    height: 3rem;
    justify-content: end;
    align-self: center;
    border: 1px var(--secondary) solid;
}

.fa-moon {
    margin-top: 0.2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 60%;

}

.fa-sun {
    margin-top: 0.2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 60%;
    visibility: hidden;
}

.headerButtons__Buttons--menu {
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--terciary3);

}
.icon-menu {
    font-size: 2.5rem;
    color: var(--blanco);
}

/* Menu desplegable */
#menuNav {
    display: none;
    margin: auto auto;
    text-align: center;
    background-color: var(--secondary);

}

.menuNav_item {
    padding-top: 1rem;
    text-decoration: none;
    color: var(--blanco);
    display: block;
    font-size: 2.3rem;
}



.buttonCurri {

    margin: 1.2rem 0rem;
    border-radius: 10rem;
    background-color: var(--terciary3);
    border: none;
}

.buttonCurri a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--blanco);
    display: block;
    font-size: 2.3rem;
}

.buttonCurry__icon {
    margin-bottom: 0.2rem;
}



/*Intro*/

.intro img {
    width: 100%;

}

.intro__desc {
    background-color: var(--secondary);
    padding: 3rem;
}


/* Skills */

.skills {
padding: 2rem 0rem;
    background-color: var(--terciary3);
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;


}

.skills h2 {
    padding-top: 1rem;
    color: var(--blanco);
}


.skills__icons {

    width: 300%;
    display: flex;
    background-color: var(--terciary3);
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);


}

.skills__icons div {
    padding: 1rem 1rem 0rem 1rem;
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills__icons--img div {
    background-color: var(--blanco);
    padding: 0.8rem;
    width: 14rem;
    height: 14rem;
    border-radius: 5%;
    margin: 0.4rem;
}

.imgIcons {
    width: 100%;
}

ul {
    padding: 0rem;
}

.Desp {
    padding: 0rem;
    display: inline;
    list-style: none;
    margin: 1rem;

}

.Desp__btn {

    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--blanco);
    border: none;
    cursor: pointer;
}

.Desp__btn:focus {
    background-color: var(--secondary);

}
.divImg h2{
    margin-top: 0rem;
    padding-top: 0rem;
    font-weight: 900;
    font-size: 2.3rem;

}

/* Portafolio gris*/

.introProjects{
    padding: 3rem;
    background-color: var(--blanco);
    text-align: center;
}

/*footer color primario*/
