
:root {
    --primary: #333333;
    --secondary: #a7e6e2;
    --terciary: #696969;
    --white: #ffffff;
    --black: #000000;


}

/* Global rules */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    color: var(--terciary);
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

h2 {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
    color: var(--primary);
    font-size: 3.5rem;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Header */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
}

.header__img {
    width: clamp(6rem, 20vw, 8rem);
}

/* Header button */

.header__button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0rem;
    width: 6rem;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.header__button:hover {
    cursor: pointer;
}

.button__icon {
    position: relative;
    width: 60%;
    height: 3px;
    background-color: var(--primary);
    transition: background-color 0.5s linear;
}

.button__icon::before {
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    content: "";
    width: 120%;
    height: 3px;
}

.off .button__icon::before {
    background-color: var(--primary);
    transition: background-color 0.5s linear;
}

.on .button__icon::before {
    background-color: var(--white);
    transition: background-color 0.5s linear;
}

.button__icon::after {
    display: block;
    position: relative;
    left: 7px;
    bottom: -7px;
    content: "";
    width: 80%;
    height: 3px;

}

.off .button__icon::after {
    background-color: var(--primary);
    transition: background-color 0.25s linear;
}

.on .button__icon::after {
    background-color: var(--white);
    transition: background-color 0.25s linear;
}


/* menu drop */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 75%;
    height: 100vh;
    margin: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: translateX(75vw);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1;
}

.menu.active {
    visibility: visible;
    transform: translateX(0vw);
}

.menu__enlaces {
    display: block;
    margin-bottom: 8rem;
    color: var(--white);
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
}

.menu__enlaces--contact {
    padding-bottom: 0rem;
    margin: 0rem;
}

.menu__enlaces--cv {
    padding: 1.5rem;
    margin: 0rem;
    border-radius: 1rem;
    border: 1px solid var(--secondary);
}

.menu__p {
    margin-left: -1rem;
    color: var(--terciary);
    font-size: 1.8rem;
}

.menu__p--contact {
    margin: -0.5rem 0.5rem 10rem;
    text-align: end;

}

.menu__nav p:nth-child(3) {
    margin-left: .5rem;
}

/* Introduce */

.introduce {
    padding: 54vw 2rem;
    text-align: start;
    font-weight: bold;
}

.introduce__h1 {
    margin-bottom: .5rem;
    color: var(--secondary);
    font-size: 2.2rem;
    font-weight: 700;
}

.introduce__h2 {
    margin-bottom: .5rem;
    color: var(--primary);
    font-size: 3.8rem;


}

.introduce__h3 {
    margin-bottom: 3rem;
    color: var(--terciary);
    font-size: 3.5rem;
    line-height: 1;
}

.introduce__p {
    padding-left: 2rem;
    color: var(--terciary);
    font-size: clamp(1.8rem, 5vw, 2rem);
    font-weight: normal;
}

.introduce div {
    display: flex;
    margin-bottom: 4rem;
    border-left: 1px solid var(--primary);
}

.introduce__btn {
    display: block;
    padding: 1rem 2rem;
    margin: auto 0 auto auto;
    width: fit-content;
    color: var(--white);
    font-size: clamp(2rem, 6vw, 2.5rem);
    text-decoration: none;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    background-color: var(--primary);
}

/* Socials */

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5rem;
    margin-left: -1.5rem;
}

.socials__icon {
    padding: .5rem;
    font-size: clamp(4.5rem, 14vw, 6rem);
    color: var(--secondary);
}

.socials::after {
    position: relative;
    margin: 0rem 1rem;
    content: "";
    width: 80%;
    height: 2px;
    background-color: var(--terciary);
    z-index: -1;
}

.introduce__contact {
    display: none;
}
/* About me */

.aboutme {

    padding: 0rem 2rem;
}

.aboutme__p:nth-child(4) {
    margin-bottom: 1rem;
}

.img {
    border: 2px solid var(--secondary);
    border-radius: 4px;
    z-index: -1;
    width: 18rem;
    margin: auto auto;
    margin-bottom: 1rem;
    position: relative;
    top: -15px;
    right: -25px;

}

.img__photo {
    width: 18rem;
    position: relative;
    top: 20px;
    right: 25px;
    border-radius: 4px;

}

.aboutme__h3 {
    font-size: 2rem;
    color: var(--terciary);
    font-weight: bold;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    justify-content: space-between;
}



.skills__icon {
    font-size: 4rem;
    color: var(--secondary);
}

/* Projects */

.projects {

    padding: 4.5rem 2rem;
}

.projects__h2 {
    margin-bottom: 2rem;
}

.card {
    position: relative;
    width: 100%;
    margin-bottom: 10vw;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 4px;
    transform: translateY(0);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 0;
}

.card.active1 {
    transform: translateY(-1rem);
}

.card__figure {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}

.card__img {
    width: 100%;
    border-radius: 4px;
}


.card__figcaption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: background-color .5s ease;
    visibility: hidden;

}

.card__figcaption.active {
    background-color: rgba(0, 0, 0, 0.75);
    visibility: visible;
}


.card__introduce {
    margin: clamp(1rem, 2vw, 1.5rem);
}

.card__figcaption h3 {
    font-size: clamp(3rem, 8.8vw, 4.3rem);
}

.card__figcaption p {
    font-size: clamp(2rem, 5.8vw, 3.3rem);
    font-weight: bold;
    color: var(--white);
}

.card__nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: clamp(1.5rem, 2vw, 2rem) clamp(1.5rem, 2vw, 2rem);
    gap: clamp(1rem, 3vw, 1.5rem);
}

.card__icons {
    color: var(--white);
    font-size: clamp(2.5rem, 8vw, 6.2rem);
}

/* Experience */

.experience {
    padding: 4.5rem 2rem;
}

/* Footer */

.footer {
    padding: 1.5rem 2rem;
    background-color: var(--primary);
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__icon {
    font-size: 4rem;
    color: var(--secondary);
    padding: .5rem;
}

.footer__social::before {
    background-color: var(--terciary);
    width: 80%;
    height: 2.5px;
    content: "";
    position: relative;
    z-index: 0;
}

.footer p {
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--white);
}

